.container{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  align-items: center;
  width: 50%;
  height: 60%;
  border: 1px solid #e72929;
  border-radius: 2rem;
}

